.Task {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px 5px;
}

.Task-header {
  display: flex;
  justify-content: space-between;
}

.Task-description {
  color: gray;
  margin-bottom: 5px;
}
.Task-calendar{
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 5px;
}
