.App {
  text-align: center;
}

.App-header {
  margin: 20px auto 10px;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #282c34;
}

@media (max-width: 640px) {
  .App-header {
    max-width: 95%;
    display: block;
  }
}

.Header-buttons button{
  margin-left: 20px;
  cursor: pointer;
}

.Histopy-button {
  background-color: white;
  border: solid #D3D2DA 1px;
  border-radius: 3px;
  padding: 1px 15px 6px;
  font-weight: 500;
}

.Histopy-button img{
 width: 14px;
 height: 14px;
 transform: rotate(-90deg);
 margin-top: 7px;
 margin-right: 8px;
}

.New-List-button {
  background-color: #5A647D;
  border-color: transparent;
  border-radius: 3px;
  padding: 2px 15px 4px;
  color: white;
}

.New-List-button span{
  font-size: 20px;
  bottom: -2px;
  position: relative;
}

