.List {
  border-top: 1px solid #BBBBBD;
  border-bottom: 1px solid #BBBBBD;
  display: flex;
  padding: 10px 0;
  width: 250px;
  margin: 15px 0 15px 5px;
}

.List-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.List-header span{
  display: inline-block;
}

.wrap-header img {
  margin-left: 15px;
  cursor: pointer;
}
